@{
    ViewData["Title"] = "Confirmacao de delecao de contato";
}

<div>
    <h1>Tem certeza que deseja deletar esse cadastro?</h1>
    <a type="button" class="btn btn-danger" asp-controller="Contacts" asp-action="Delete"> Sim </a>
    <a type="button" class="btn btn-outline-dark" asp-controller="Contacts" asp-action="Index">Voltar</a>

</div>